NodeRed/.flows.json.backup
[
    {
        "id": "8c18e233c7d90889",
        "type": "tab",
        "label": "Comunicazione MQTT/Bluetooth ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f42f0c6ac0c908c0",
        "type": "tab",
        "label": "NFC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3215fe15d9aa44e7",
        "type": "tab",
        "label": "Campanello ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b4f62e2713401d0",
        "type": "tab",
        "label": "Amministratore",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c590ebc25e0b5cc",
        "type": "mqtt-broker",
        "name": "BrokerUsato",
        "broker": "192.168.1.23",
        "port": "1883",
        "clientid": "elenaId-nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1882cf541cd0b971",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6778e3a8648143cc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c00691034cd17f7",
        "type": "coap-server",
        "name": "192.168.43.252",
        "port": "5683",
        "ipv6": false
    },
    {
        "id": "86f322ebf8049f50",
        "type": "ui_group",
        "name": "Campanello",
        "tab": "6778e3a8648143cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68b41a4217490954",
        "type": "ui_group",
        "name": "Lettore NFC",
        "tab": "6778e3a8648143cc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4e518ab79ad6ee8",
        "type": "ui_group",
        "name": "Stato devices MQTT",
        "tab": "6778e3a8648143cc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f184ff151f6c1ba",
        "type": "ui_spacer",
        "z": "8c18e233c7d90889",
        "name": "spacer",
        "group": "86f322ebf8049f50",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "19f194c987f1e198",
        "type": "ble-config",
        "name": "nfc",
        "retryLimit": "10",
        "infoVendor": "",
        "infoVendorType": "str",
        "infoName": "",
        "infoNameType": "str",
        "infoSerial": "",
        "infoSerialType": "str"
    },
    {
        "id": "ac37753663974bd5",
        "type": "ble-service",
        "name": "Bluetooth Service",
        "uuid": "9abceb75-8e6d-42ce-9529-fa8a03358a25 "
    },
    {
        "id": "6e6f8688063b3313",
        "type": "ui_group",
        "name": "Stato Device BT",
        "tab": "6778e3a8648143cc",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "478a5f37ec18385d",
        "type": "mqtt in",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "door/esp_nfc/tag_swiped",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c590ebc25e0b5cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "cb0e70cb334fcc37"
            ]
        ]
    },
    {
        "id": "cb0e70cb334fcc37",
        "type": "link out",
        "z": "8c18e233c7d90889",
        "name": "Tag srisciato",
        "mode": "link",
        "links": [
            "8eb16bd75eadf7bd"
        ],
        "x": 595,
        "y": 360,
        "wires": []
    },
    {
        "id": "b0855f9be5bd07e4",
        "type": "link in",
        "z": "8c18e233c7d90889",
        "d": true,
        "name": "Messaggio arrivato",
        "links": [
            "e13bef5a50f05d0d",
            "34fdb057c7b9b142"
        ],
        "x": 505,
        "y": 160,
        "wires": [
            [
                "ce1e8666c66fe402"
            ]
        ]
    },
    {
        "id": "ce1e8666c66fe402",
        "type": "debug",
        "z": "8c18e233c7d90889",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "810e5797592264d8",
        "type": "inject",
        "z": "8c18e233c7d90889",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "hello",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "2a53e632a074eb2b"
            ]
        ]
    },
    {
        "id": "2a53e632a074eb2b",
        "type": "link out",
        "z": "8c18e233c7d90889",
        "d": true,
        "name": "Manda messaggio",
        "mode": "link",
        "links": [
            "75d692335ae0836d"
        ],
        "x": 755,
        "y": 100,
        "wires": []
    },
    {
        "id": "6ca3d778ee6a1631",
        "type": "comment",
        "z": "8c18e233c7d90889",
        "name": "Esempio di comunicazione",
        "info": "",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "6b07c5a4cb379572",
        "type": "mqtt in",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "door/esp_nfc/intruder",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3c590ebc25e0b5cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "7c7f5fdd0557d647"
            ]
        ]
    },
    {
        "id": "7c7f5fdd0557d647",
        "type": "link out",
        "z": "8c18e233c7d90889",
        "name": "Intruso",
        "mode": "link",
        "links": [
            "a60c677347135904"
        ],
        "x": 545,
        "y": 440,
        "wires": []
    },
    {
        "id": "007fed61cdcaf3f7",
        "type": "mqtt out",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c590ebc25e0b5cc",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "e87b3b74df0bf879",
        "type": "link in",
        "z": "8c18e233c7d90889",
        "name": "Manda messaggio ",
        "links": [
            "85247eaccfcb5651",
            "b458d83fe470509a",
            "ebd45a88251b59c4",
            "d5fbf340676057d0",
            "90f26a43dd43037d",
            "cd3c846e4e60ed19",
            "783b1918abc47099",
            "3d919d0bb7aff126",
            "9f811edab4a388d2"
        ],
        "x": 255,
        "y": 800,
        "wires": [
            [
                "007fed61cdcaf3f7"
            ]
        ]
    },
    {
        "id": "166d659bf365b333",
        "type": "mqtt in",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "door/esp_nfc/button",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3c590ebc25e0b5cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 520,
        "wires": [
            [
                "9c638ad8aa6b7d20"
            ]
        ]
    },
    {
        "id": "9c638ad8aa6b7d20",
        "type": "link out",
        "z": "8c18e233c7d90889",
        "name": "Campanello suonato",
        "mode": "link",
        "links": [
            "e9d789509278d3f9"
        ],
        "x": 545,
        "y": 520,
        "wires": []
    },
    {
        "id": "c1abe2b1325cefff",
        "type": "mqtt in",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "door/esp_cam/image",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3c590ebc25e0b5cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 600,
        "wires": [
            [
                "fec084381cfe638b"
            ]
        ]
    },
    {
        "id": "fec084381cfe638b",
        "type": "link out",
        "z": "8c18e233c7d90889",
        "name": "Immagine arrivata",
        "mode": "link",
        "links": [
            "518e81a0d326064b"
        ],
        "x": 545,
        "y": 600,
        "wires": []
    },
    {
        "id": "84b322614e860a30",
        "type": "mqtt in",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "door/esp_nfc/errors",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3c590ebc25e0b5cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 700,
        "wires": [
            [
                "1cb179e3ea8dfcbd"
            ]
        ]
    },
    {
        "id": "1cb179e3ea8dfcbd",
        "type": "link out",
        "z": "8c18e233c7d90889",
        "name": "Errori",
        "mode": "link",
        "links": [
            "72429e099cc4b6ca"
        ],
        "x": 545,
        "y": 700,
        "wires": []
    },
    {
        "id": "12ccdf096fc04b48",
        "type": "exec",
        "z": "8c18e233c7d90889",
        "command": "powershell.exe -executionpolicy bypass  -File \"D:\\Elena\\_Elena\\Shared\\Universita\\Magistrale\\IoT\\Esame_progetto_iot\\bluetooth_pc\\blt.ps1\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Python - Bluetooth",
        "x": 430,
        "y": 1820,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "baaf66cfadba0c3a",
        "type": "inject",
        "z": "8c18e233c7d90889",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 1800,
        "wires": [
            [
                "12ccdf096fc04b48"
            ]
        ]
    },
    {
        "id": "ef1d52007ff2acbe",
        "type": "inject",
        "z": "8c18e233c7d90889",
        "name": "kill process",
        "props": [
            {
                "p": "kill",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1840,
        "wires": [
            [
                "12ccdf096fc04b48"
            ]
        ]
    },
    {
        "id": "e16d5542ca66785b",
        "type": "status",
        "z": "8c18e233c7d90889",
        "name": "",
        "scope": [
            "478a5f37ec18385d"
        ],
        "x": 160,
        "y": 1280,
        "wires": [
            [
                "be64a22c4de607cd"
            ]
        ]
    },
    {
        "id": "3073ef0c35dba165",
        "type": "ui_text",
        "z": "8c18e233c7d90889",
        "group": "e4e518ab79ad6ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MQTT broker:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 1280,
        "wires": []
    },
    {
        "id": "be64a22c4de607cd",
        "type": "function",
        "z": "8c18e233c7d90889",
        "name": "function 3",
        "func": "var stato = msg.status.text;\nvar parts = stato.split(\".\");\nvar lastPart = parts[parts.length - 1];\n\nif (lastPart == \"connected\" )\n    msg.payload = \"Connesso\";\nelse\n    msg.payload = \"Disconnesso\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1280,
        "wires": [
            [
                "3073ef0c35dba165"
            ]
        ]
    },
    {
        "id": "2918dbeb943cb810",
        "type": "function",
        "z": "8c18e233c7d90889",
        "name": "0,1 to connesso/disconneso",
        "func": "if (msg.payload.code == 0)\n    msg.payload =  \"Connessa (BT)\";\nelse\n    msg.payload = \"Disconnessa (BT)\";\n\nreturn msg;\n\n\nreturn msg;\n\n// Con colori\nif (msg.payload == \"1\") {\n    msg.topic = \"green\";\n} else{\n    // msg.payload = \"Disconnessa (MQTT)\";\n    msg.topic = \"red\";\n}\nmsg.enabled = false; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1460,
        "wires": [
            [
                "0ae44e4604134e9f"
            ]
        ]
    },
    {
        "id": "67b947c504e16c6b",
        "type": "ui_text",
        "z": "8c18e233c7d90889",
        "group": "6e6f8688063b3313",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "{{msg.topic}}",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 1500,
        "wires": []
    },
    {
        "id": "3f82f213dc60536c",
        "type": "inject",
        "z": "8c18e233c7d90889",
        "name": "Check bluetooth NFC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "label",
                "v": "Stato board NFC:",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "--nfc",
        "payloadType": "str",
        "x": 280,
        "y": 1480,
        "wires": [
            [
                "df1f7822b154432b",
                "0768d5fb53b1b1a7"
            ]
        ]
    },
    {
        "id": "df1f7822b154432b",
        "type": "exec",
        "z": "8c18e233c7d90889",
        "command": "python \"../bluetooth_pc/bluetooth_discover_devices.py\"",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Python - Bluetooth check device",
        "x": 590,
        "y": 1420,
        "wires": [
            [],
            [],
            [
                "2918dbeb943cb810"
            ]
        ]
    },
    {
        "id": "0768d5fb53b1b1a7",
        "type": "function",
        "z": "8c18e233c7d90889",
        "name": "Set value originale",
        "func": "msg.payload = \"Aggiorno...\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1520,
        "wires": [
            [
                "0ae44e4604134e9f"
            ]
        ]
    },
    {
        "id": "0ae44e4604134e9f",
        "type": "switch",
        "z": "8c18e233c7d90889",
        "name": "",
        "property": "label",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "NFC",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 1520,
        "wires": [
            [
                "67b947c504e16c6b"
            ],
            [
                "6e394b1b7279c165"
            ]
        ]
    },
    {
        "id": "6e394b1b7279c165",
        "type": "ui_text",
        "z": "8c18e233c7d90889",
        "group": "6e6f8688063b3313",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.label}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "{{msg.topic}}",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b248636a2745633f",
        "type": "inject",
        "z": "8c18e233c7d90889",
        "name": "Check bluetooth fotocamera",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "label",
                "v": "Stato board CAM:",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "--cam",
        "payloadType": "str",
        "x": 270,
        "y": 1540,
        "wires": [
            [
                "df1f7822b154432b",
                "0768d5fb53b1b1a7"
            ]
        ]
    },
    {
        "id": "85e3f345a9113d1d",
        "type": "comment",
        "z": "8c18e233c7d90889",
        "name": "CHECK STATO BLUETOOTH",
        "info": "",
        "x": 200,
        "y": 1380,
        "wires": []
    },
    {
        "id": "99cce86e4e7a2206",
        "type": "comment",
        "z": "8c18e233c7d90889",
        "name": "CHECK STATO MQTT",
        "info": "",
        "x": 180,
        "y": 940,
        "wires": []
    },
    {
        "id": "1f28cde5f7c174b1",
        "type": "comment",
        "z": "8c18e233c7d90889",
        "name": "COMUNICAZIONE MQTT",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "696a274cafa2f659",
        "type": "mqtt in",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "door/esp_nfc/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c590ebc25e0b5cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "adc45e279b535a5a"
            ]
        ]
    },
    {
        "id": "012f6d3eb43d529c",
        "type": "mqtt in",
        "z": "8c18e233c7d90889",
        "name": "",
        "topic": "door/esp_cam/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c590ebc25e0b5cc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1140,
        "wires": [
            [
                "3480d3a48e0fb660"
            ]
        ]
    },
    {
        "id": "6dc77b5647bfd793",
        "type": "ui_text",
        "z": "8c18e233c7d90889",
        "group": "e4e518ab79ad6ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stato board CAM:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 1140,
        "wires": []
    },
    {
        "id": "adc45e279b535a5a",
        "type": "function",
        "z": "8c18e233c7d90889",
        "name": "0,1 to connesso/disconneso",
        "func": "if (msg.payload == \"1\")\n    msg.payload = \"Connessa (MQTT)\";\nelse\n    msg.payload = \"Disconnessa (MQTT)\";\n\nreturn msg;\n\n\nreturn msg;\n\n// Con colori\nif (msg.payload == \"1\") {\n    msg.topic = \"green\";\n} else{\n    // msg.payload = \"Disconnessa (MQTT)\";\n    msg.topic = \"red\";\n}\nmsg.enabled = false; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "d72e9ad09337fd21",
                "03eff9b7d64a09af"
            ]
        ]
    },
    {
        "id": "3480d3a48e0fb660",
        "type": "function",
        "z": "8c18e233c7d90889",
        "name": "0,1 to connesso/disconneso",
        "func": "if (msg.payload == \"1\")\n    msg.payload = \"Connessa (MQTT)\";\nelse\n    msg.payload = \"Disconnessa (MQTT)\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "6dc77b5647bfd793"
            ]
        ]
    },
    {
        "id": "d72e9ad09337fd21",
        "type": "ui_button",
        "z": "8c18e233c7d90889",
        "d": true,
        "name": "",
        "group": "e4e518ab79ad6ee8",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "{{msg.topic}}",
        "bgcolor": "{{msg.topic}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "03eff9b7d64a09af",
        "type": "ui_text",
        "z": "8c18e233c7d90889",
        "group": "e4e518ab79ad6ee8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stato board NFC:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "{{msg.topic}}",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 1020,
        "wires": []
    },
    {
        "id": "8f0dfd60907c9940",
        "type": "comment",
        "z": "8c18e233c7d90889",
        "name": "COMUNICAZIONE BLT",
        "info": "",
        "x": 140,
        "y": 1700,
        "wires": []
    },
    {
        "id": "7cf2c4b3c5c8f32d",
        "type": "debug",
        "z": "f42f0c6ac0c908c0",
        "name": "Intruso",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "f83188491fc86816",
        "type": "function",
        "z": "f42f0c6ac0c908c0",
        "name": "\"Intruso:\" + tag",
        "func": "msg.payload = \"Intruso rilevato: \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 660,
        "wires": [
            [
                "7cf2c4b3c5c8f32d"
            ]
        ]
    },
    {
        "id": "02327267871b92aa",
        "type": "function",
        "z": "f42f0c6ac0c908c0",
        "name": "\"Tag letto: \" + tag",
        "func": "msg.payload = \"Tag letto: \" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 80,
        "wires": [
            [
                "e53730711f62599f"
            ]
        ]
    },
    {
        "id": "e53730711f62599f",
        "type": "debug",
        "z": "f42f0c6ac0c908c0",
        "name": "Tag letto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "519bd7f7bc203d53",
        "type": "ui_toast",
        "z": "f42f0c6ac0c908c0",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Tag strisciato: ",
        "name": "Notifica tag strisciato",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "efcf21eccca58f39",
        "type": "ui_button",
        "z": "f42f0c6ac0c908c0",
        "name": "Sblocca lettore NFC",
        "group": "68b41a4217490954",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sblocca lettore NFC",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "5fc8a5d1f5b0b9a6",
                "0661b74d309fa008"
            ]
        ]
    },
    {
        "id": "972c6ab9e76e06a8",
        "type": "ui_toast",
        "z": "f42f0c6ac0c908c0",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Intruso rilevato: ",
        "name": "Intruso rilevato",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "e9e81eb8ca461278"
            ]
        ]
    },
    {
        "id": "13e6bdf1fa517670",
        "type": "ui_text",
        "z": "f42f0c6ac0c908c0",
        "group": "68b41a4217490954",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stato lettore NFC:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 680,
        "wires": []
    },
    {
        "id": "e9e81eb8ca461278",
        "type": "function",
        "z": "f42f0c6ac0c908c0",
        "name": "Stato reader: bloccato",
        "func": "msg.payload = \"Bloccato\";\nmsg.enabled = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 580,
        "wires": [
            [
                "13e6bdf1fa517670",
                "efcf21eccca58f39"
            ]
        ]
    },
    {
        "id": "5fc8a5d1f5b0b9a6",
        "type": "function",
        "z": "f42f0c6ac0c908c0",
        "name": "Stato reader: Abilitato",
        "func": "msg.payload = \"Abilitato\";\nmsg.enabled = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 580,
        "wires": [
            [
                "efcf21eccca58f39",
                "6658215bf2bc0338",
                "13e6bdf1fa517670"
            ]
        ]
    },
    {
        "id": "6658215bf2bc0338",
        "type": "debug",
        "z": "f42f0c6ac0c908c0",
        "name": "Sbloco la lettura NFC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 580,
        "wires": []
    },
    {
        "id": "e1fbbce3606240b8",
        "type": "inject",
        "z": "f42f0c6ac0c908c0",
        "name": "Sblocco Iniziale",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "topic",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 1040,
        "y": 380,
        "wires": [
            [
                "5fc8a5d1f5b0b9a6",
                "0661b74d309fa008"
            ]
        ]
    },
    {
        "id": "8eb16bd75eadf7bd",
        "type": "link in",
        "z": "f42f0c6ac0c908c0",
        "name": "Tag strisciato",
        "links": [
            "cb0e70cb334fcc37"
        ],
        "x": 465,
        "y": 80,
        "wires": [
            [
                "02327267871b92aa",
                "519bd7f7bc203d53"
            ]
        ]
    },
    {
        "id": "a60c677347135904",
        "type": "link in",
        "z": "f42f0c6ac0c908c0",
        "name": "Intruso",
        "links": [
            "7c7f5fdd0557d647"
        ],
        "x": 255,
        "y": 580,
        "wires": [
            [
                "972c6ab9e76e06a8",
                "f83188491fc86816"
            ]
        ]
    },
    {
        "id": "85247eaccfcb5651",
        "type": "link out",
        "z": "f42f0c6ac0c908c0",
        "name": "Manda messaggio",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 1455,
        "y": 420,
        "wires": []
    },
    {
        "id": "0661b74d309fa008",
        "type": "function",
        "z": "f42f0c6ac0c908c0",
        "name": "Set message",
        "func": "msg.topic = \"door/esp_nfc/nfc_reader_state\";\nmsg.payload = \"1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 420,
        "wires": [
            [
                "85247eaccfcb5651"
            ]
        ]
    },
    {
        "id": "9a56b32916771b6e",
        "type": "inject",
        "z": "3215fe15d9aa44e7",
        "name": "Apri Porta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_nfc/led",
        "payload": "1",
        "payloadType": "str",
        "x": 660,
        "y": 100,
        "wires": [
            [
                "b458d83fe470509a"
            ]
        ]
    },
    {
        "id": "bd62980b1bc5d6fe",
        "type": "ui_button",
        "z": "3215fe15d9aa44e7",
        "name": "Apri porta ",
        "group": "86f322ebf8049f50",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Apri porta ",
        "tooltip": "",
        "color": "black",
        "bgcolor": "lightgreen",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "door/esp_nfc/led",
        "topicType": "str",
        "x": 660,
        "y": 40,
        "wires": [
            [
                "b458d83fe470509a"
            ]
        ]
    },
    {
        "id": "162b9ae52d7e8e72",
        "type": "debug",
        "z": "3215fe15d9aa44e7",
        "name": "Campanello suonato",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "95cd540de2b12196",
        "type": "function",
        "z": "3215fe15d9aa44e7",
        "name": "\"Campanello suonato!\" else null",
        "func": "if (msg.payload==\"1\")\n    msg.payload = \"Campanello suonato\";\n    else \n        return null;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "162b9ae52d7e8e72",
                "d61463181f808d0e",
                "112d45c2f360f21b"
            ]
        ]
    },
    {
        "id": "22f1018eb784b46f",
        "type": "ui_audio",
        "z": "3215fe15d9aa44e7",
        "name": "Campanello ",
        "group": "86f322ebf8049f50",
        "voice": "Microsoft Cosimo - Italian (Italy)",
        "always": false,
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "d61463181f808d0e",
        "type": "ui_toast",
        "z": "3215fe15d9aa44e7",
        "position": "top right",
        "displayTime": "3",
        "highlight": "yellow",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": " Campanello suonato!",
        "name": "Campanello suonato!",
        "x": 820,
        "y": 260,
        "wires": [],
        "info": "<p> ciao </p>"
    },
    {
        "id": "112d45c2f360f21b",
        "type": "function",
        "z": "3215fe15d9aa44e7",
        "name": "Din Dong",
        "func": "msg.payload = \"din dong\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 400,
        "wires": [
            [
                "22f1018eb784b46f"
            ]
        ]
    },
    {
        "id": "e65ad8b68ef7a0a6",
        "type": "debug",
        "z": "3215fe15d9aa44e7",
        "name": "Foto arrivata",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b458d83fe470509a",
        "type": "link out",
        "z": "3215fe15d9aa44e7",
        "name": "Manda messaggio",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 825,
        "y": 80,
        "wires": []
    },
    {
        "id": "e9d789509278d3f9",
        "type": "link in",
        "z": "3215fe15d9aa44e7",
        "name": "Campanello suonato",
        "links": [
            "9c638ad8aa6b7d20"
        ],
        "x": 245,
        "y": 320,
        "wires": [
            [
                "95cd540de2b12196"
            ]
        ]
    },
    {
        "id": "518e81a0d326064b",
        "type": "link in",
        "z": "3215fe15d9aa44e7",
        "name": "immagine",
        "links": [
            "fec084381cfe638b"
        ],
        "x": 475,
        "y": 1040,
        "wires": [
            [
                "6260282ed6e535a0",
                "13de99df3e54ae05"
            ]
        ]
    },
    {
        "id": "fb56339fa80b86e8",
        "type": "ui_text",
        "z": "3215fe15d9aa44e7",
        "group": "86f322ebf8049f50",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Foto arrivata: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1160,
        "wires": []
    },
    {
        "id": "13de99df3e54ae05",
        "type": "ui_template",
        "z": "3215fe15d9aa44e7",
        "group": "86f322ebf8049f50",
        "name": "Mostra foto",
        "order": 2,
        "width": "6",
        "height": "6",
        "format": "<canvas id=\"canvas\" style=\"border:solid;\"> </canvas>\n<!-- <div id=\"messages\"></div> -->\n<script>\n    var first = 0;  // Usato per inizializzare il canvas\n\n    var xres = 80; // Larghezza foto\n    var yres = 60; // Altezza foto\n    var ctx; // Serve per la \"stampa\" della foto\n    var imgData; // Serve per la stampa della foto\n    var gcanvasid = \"canvas\"; // id del canvas che conterra' la foto\n\n    function hexStringToUint8Array(hexString) {\n        // Remove any non-hex characters (like spaces or newline characters)\n        hexString = String(hexString);\n        hexString = hexString.replace(/[^0-9a-fA-F]/g, '');\n\n        // Split the string into pairs of two\n        const pairs = hexString.match(/.{1,2}/g);\n\n        // Convert each pair to a byte value\n        const byteArray = pairs.map((pair) => parseInt(pair, 16));\n\n        // Create a Uint8Array from the byte values\n        return new Uint8Array(byteArray);\n    }\n\n    function init_canvas() {\n\n        canvas = document.getElementById(\"canvas\");\n        canvas.width = xres;\n        canvas.height = yres;\n\n        ctx = canvas.getContext(\"2d\");\n        imgData = ctx.createImageData(canvas.width, canvas.height);\n\n        for (var i = 0; i < imgData.data.length; i +=4) {\n            imgData.data[i + 0] = 0xCC;\n            imgData.data[i + 1] = 0xCC;\n            imgData.data[i + 2] = 0xCC;\n            imgData.data[i + 3] = 255;\n        }\n        ctx.putImageData(imgData, canvas.width, canvas.height);\n        ctx.globalAlpha = 0.5;\n\n    }\n\n\n    // Funzione che \"stampa\" l'immagine nel canvas\n    function display(pixels) {\n        //alert('display'); \n        ln = 0;\n        var i = 0;\n        for (y = 0; y < yres; y++) {\n            for (x = 0; x < xres; x++) {\n                i = (y * xres + x) << 1;\n                pixel16 = (0xffff & pixels[i]) | ((0xffff & pixels[i + 1]) << 8);\n                imgData.data[ln + 0] = ((((pixel16 >> 11) & 0x1F) * 527) + 23) >> 6;\n                imgData.data[ln + 1] = ((((pixel16 >> 5) & 0x3F) * 259) + 33) >> 6;\n                imgData.data[ln + 2] = (((pixel16 & 0x1F) * 527) + 23) >> 6;\n                imgData.data[ln + 3] = (0xFFFFFFFF) & 255;\n                ln += 4;\n            }\n        }\n        \n        ctx.putImageData(imgData, 0, 0);\n    }\n\n\n    (function(scope) {\n        scope.$watch('msg.payload', function(msg) { // $watch fires each time the node is triggered in the flow\n        \n        // NUOVO MESSAGGIO ARRIVATO IN \"INPUT\": msg\n        if (first == 0) {\n            console.log(\"first\");\n            init_canvas() ;\n            first = 1;        \n        }\n        \n        pixel = hexStringToUint8Array(msg);\n        display(pixel);\n            \n    });\n\n\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "6260282ed6e535a0",
        "type": "function",
        "z": "3215fe15d9aa44e7",
        "name": "function 2",
        "func": "function getCharacterLength(str) {\n  // The string iterator that is used here iterates over characters,\n  // not mere code units\n  return [...str].length;\n}\n\n// msg.payload = \"Dim: \" + getCharacterLength(msg.payload);\n// var timestamp = M\n\nmsg.payload = \"Dim: \" + getCharacterLength(msg.payload) + \" Foto: \" + Math.floor(Date.now() / 1000);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1080,
        "wires": [
            [
                "fb56339fa80b86e8",
                "e65ad8b68ef7a0a6"
            ]
        ]
    },
    {
        "id": "647b42a5c9d25428",
        "type": "inject",
        "z": "3215fe15d9aa44e7",
        "name": "Reset valore label",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "fb56339fa80b86e8"
            ]
        ]
    },
    {
        "id": "26e1c77cd8b28d7e",
        "type": "ui_button",
        "z": "3215fe15d9aa44e7",
        "name": "",
        "group": "86f322ebf8049f50",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mostra camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "door/esp_cam/request_send_img",
        "topicType": "str",
        "x": 280,
        "y": 600,
        "wires": [
            [
                "cd3c846e4e60ed19"
            ]
        ]
    },
    {
        "id": "cd3c846e4e60ed19",
        "type": "link out",
        "z": "3215fe15d9aa44e7",
        "name": "Manda messaggio",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 485,
        "y": 620,
        "wires": []
    },
    {
        "id": "b83ab328e12a2023",
        "type": "inject",
        "z": "3215fe15d9aa44e7",
        "name": "Mostra camera",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "cd3c846e4e60ed19"
            ]
        ]
    },
    {
        "id": "75bdbc381194053f",
        "type": "ui_switch",
        "z": "3215fe15d9aa44e7",
        "name": "",
        "label": "Mostra video in streaming",
        "tooltip": "",
        "group": "86f322ebf8049f50",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "a",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 740,
        "wires": [
            [
                "e0d015103ada6d2d"
            ]
        ]
    },
    {
        "id": "e0d015103ada6d2d",
        "type": "function",
        "z": "3215fe15d9aa44e7",
        "name": "Video in streaming o foto ",
        "func": "// Se slider on -> richiedo invio foto ogni 500 milllisec\nif (msg.payload == true)    \n    msg.payload = 500;    \nelse \n    msg.payload = -1;    \nmsg.topic = \"door/esp_cam/config/freq_send_img\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 740,
        "wires": [
            [
                "3d919d0bb7aff126"
            ]
        ]
    },
    {
        "id": "3d919d0bb7aff126",
        "type": "link out",
        "z": "3215fe15d9aa44e7",
        "name": "Manda messaggio",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 885,
        "y": 740,
        "wires": []
    },
    {
        "id": "da465ff1662b837e",
        "type": "ui_button",
        "z": "3215fe15d9aa44e7",
        "name": "",
        "group": "86f322ebf8049f50",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "door/esp_cam/request_send_img",
        "topicType": "str",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "cd3c846e4e60ed19"
            ]
        ]
    },
    {
        "id": "c150de1a32582ad1",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "configurazione_esempio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"tag_autorizzati\": [         \"122.48.29.217\",  \"209.53.34.217\"     ],     \"num_tentativi_errati\": [3, 5],      \"check_tag_localmente\": true,     \"deep_sleep\": false }",
        "payloadType": "json",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "0ca43bfcba743fdd",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "blocca_tag_bianco",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"tag_autorizzati\": [           \"209.53.34.217\"     ]}",
        "payloadType": "json",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "ac4c601a4fb17446",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "configurazione errata",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "aa",
        "payloadType": "str",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "781d7b0a7b2c6451",
        "type": "debug",
        "z": "8b4f62e2713401d0",
        "name": "Errore",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "4d10bf33ea0ca03d",
        "type": "function",
        "z": "8b4f62e2713401d0",
        "name": "\"---ERRORE---\" + errore",
        "func": "msg.payload = \"---ERRORE---\\n\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 660,
        "wires": [
            [
                "781d7b0a7b2c6451",
                "c960aad4ee463057"
            ]
        ]
    },
    {
        "id": "c960aad4ee463057",
        "type": "ui_toast",
        "z": "8b4f62e2713401d0",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Errore",
        "name": "Notifica Errore rilevato",
        "x": 820,
        "y": 600,
        "wires": []
    },
    {
        "id": "530c0152c6781332",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Blocca lettore NFC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_nfc/nfc_reader_state",
        "payload": "0",
        "payloadType": "str",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "d5fbf340676057d0"
            ]
        ]
    },
    {
        "id": "ebd45a88251b59c4",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 905,
        "y": 240,
        "wires": []
    },
    {
        "id": "d5fbf340676057d0",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 635,
        "y": 460,
        "wires": []
    },
    {
        "id": "72429e099cc4b6ca",
        "type": "link in",
        "z": "8b4f62e2713401d0",
        "name": "Errori",
        "links": [
            "1cb179e3ea8dfcbd"
        ],
        "x": 325,
        "y": 660,
        "wires": [
            [
                "4d10bf33ea0ca03d"
            ]
        ]
    },
    {
        "id": "80d7eff7809011b9",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "d": true,
        "name": "Start mosquitto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "mosquitto -c \"C:\\Program Files\\mosquitto\\mosquitto.conf\" -v",
        "payloadType": "str",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "6ef69cc929828414"
            ]
        ]
    },
    {
        "id": "b1ecc4a6fb57d96e",
        "type": "debug",
        "z": "8b4f62e2713401d0",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 820,
        "wires": []
    },
    {
        "id": "6ef69cc929828414",
        "type": "exec",
        "z": "8b4f62e2713401d0",
        "d": true,
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "b1ecc4a6fb57d96e"
            ],
            [
                "b1ecc4a6fb57d96e"
            ],
            [
                "b1ecc4a6fb57d96e"
            ]
        ]
    },
    {
        "id": "9a505f532aea1171",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Reset Esp camera",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_cam/reset",
        "payload": "1",
        "payloadType": "str",
        "x": 530,
        "y": 1220,
        "wires": [
            [
                "783b1918abc47099"
            ]
        ]
    },
    {
        "id": "783b1918abc47099",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 735,
        "y": 1220,
        "wires": []
    },
    {
        "id": "fc9ecdbd01f81756",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Timeout 20 sec video in streaming",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "door/esp_cam/timeout_send_img",
        "payload": "20",
        "payloadType": "str",
        "x": 580,
        "y": 1060,
        "wires": [
            [
                "9f811edab4a388d2"
            ]
        ]
    },
    {
        "id": "9f811edab4a388d2",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 815,
        "y": 1060,
        "wires": []
    },
    {
        "id": "3b507158a08ca676",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "NO Timeout video in streaming",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "door/esp_cam/timeout_send_img",
        "payload": "-1",
        "payloadType": "str",
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "9f811edab4a388d2"
            ]
        ]
    },
    {
        "id": "9ea334bd5deb2edc",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Bluetooth 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_nfc/config",
        "payload": "{\"use_bluetooth\":1}",
        "payloadType": "str",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "f404f622ba07c175",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Bluetooth 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_nfc/config",
        "payload": "{\"use_bluetooth\":2}",
        "payloadType": "str",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "30c98635292cdfe6",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Bluetooth 0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_nfc/config",
        "payload": "{\"use_bluetooth\":0}",
        "payloadType": "str",
        "x": 630,
        "y": 60,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "58e573d9edf5e40c",
        "type": "comment",
        "z": "8b4f62e2713401d0",
        "name": "CONFIGURAZIONI",
        "info": "",
        "x": 250,
        "y": 200,
        "wires": []
    }
]