NodeRed/flows7.json
[
    {
        "id": "8b4f62e2713401d0",
        "type": "tab",
        "label": "Amministratore",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c150de1a32582ad1",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "configurazione_esempio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"tag_autorizzati\": [         \"122.48.29.217\",  \"209.53.34.217\"     ],     \"num_tentativi_errati\": [3, 5],      \"check_tag_localmente\": true,     \"deep_sleep\": false }",
        "payloadType": "json",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "0ca43bfcba743fdd",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "blocca_tag_bianco",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"tag_autorizzati\": [           \"209.53.34.217\"     ]}",
        "payloadType": "json",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "ac4c601a4fb17446",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "configurazione errata",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "aa",
        "payloadType": "str",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    },
    {
        "id": "781d7b0a7b2c6451",
        "type": "debug",
        "z": "8b4f62e2713401d0",
        "name": "Errore",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "4d10bf33ea0ca03d",
        "type": "function",
        "z": "8b4f62e2713401d0",
        "name": "\"---ERRORE---\" + errore",
        "func": "msg.payload = \"---ERRORE---\\n\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 600,
        "wires": [
            [
                "781d7b0a7b2c6451",
                "c960aad4ee463057"
            ]
        ]
    },
    {
        "id": "c960aad4ee463057",
        "type": "ui_toast",
        "z": "8b4f62e2713401d0",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Errore",
        "name": "Notifica Errore rilevato",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "530c0152c6781332",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Blocca lettore NFC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_nfc/nfc_reader_state",
        "payload": "0",
        "payloadType": "str",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "d5fbf340676057d0"
            ]
        ]
    },
    {
        "id": "ebd45a88251b59c4",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 675,
        "y": 160,
        "wires": []
    },
    {
        "id": "d5fbf340676057d0",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 635,
        "y": 360,
        "wires": []
    },
    {
        "id": "72429e099cc4b6ca",
        "type": "link in",
        "z": "8b4f62e2713401d0",
        "name": "Errori",
        "links": [
            "1cb179e3ea8dfcbd"
        ],
        "x": 325,
        "y": 600,
        "wires": [
            [
                "4d10bf33ea0ca03d"
            ]
        ]
    },
    {
        "id": "80d7eff7809011b9",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "d": true,
        "name": "Start mosquitto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "mosquitto -c \"C:\\Program Files\\mosquitto\\mosquitto.conf\" -v",
        "payloadType": "str",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "6ef69cc929828414"
            ]
        ]
    },
    {
        "id": "b1ecc4a6fb57d96e",
        "type": "debug",
        "z": "8b4f62e2713401d0",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 820,
        "wires": []
    },
    {
        "id": "6ef69cc929828414",
        "type": "exec",
        "z": "8b4f62e2713401d0",
        "d": true,
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "b1ecc4a6fb57d96e"
            ],
            [
                "b1ecc4a6fb57d96e"
            ],
            [
                "b1ecc4a6fb57d96e"
            ]
        ]
    },
    {
        "id": "9a505f532aea1171",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Reset Esp camera",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "door/esp_cam/reset",
        "payload": "1",
        "payloadType": "str",
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "783b1918abc47099"
            ]
        ]
    },
    {
        "id": "783b1918abc47099",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 595,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fc9ecdbd01f81756",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Timeout 20 sec video in streaming",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "door/esp_cam/timeout_send_img",
        "payload": "20",
        "payloadType": "str",
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "9f811edab4a388d2"
            ]
        ]
    },
    {
        "id": "9f811edab4a388d2",
        "type": "link out",
        "z": "8b4f62e2713401d0",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "e87b3b74df0bf879"
        ],
        "x": 575,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3b507158a08ca676",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "NO Timeout video in streaming",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "door/esp_cam/timeout_send_img",
        "payload": "-1",
        "payloadType": "str",
        "x": 350,
        "y": 940,
        "wires": [
            [
                "9f811edab4a388d2"
            ]
        ]
    },
    {
        "id": "9ea334bd5deb2edc",
        "type": "inject",
        "z": "8b4f62e2713401d0",
        "name": "Bluetooth ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "door/esp_nfc/config",
        "payload": "{\"use_bluetooth\": 2}",
        "payloadType": "str",
        "x": 460,
        "y": 80,
        "wires": [
            [
                "ebd45a88251b59c4"
            ]
        ]
    }
]